<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Movie Catalogue</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
  <script src="/javascripts/app.js"></script>
  <nav>
  <a href="/">Homepage</a> |
  <a href="/actors">Actors</a> |
  <a href="/movies">Movies</a> 
</nav>
  <%= yield %>
</body>
</html>
